:root {
    --flagSquareSize: 10px;
    --headMenu-height: calc(2 * var(--flagSquareSize));
    --subHeadMenu-height: 20px;
    --body-height: 100%;
}
html, body {
    margin: 0; 
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(3 * var(--headMenu-height));
    align-content: center;
    background-color: black;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><rect fill='%23000' width='10' height='10' x='0' y='0' /><rect fill='%23000' width='10' height='10' x='10' y='10' /><rect fill='%23fff' width='10' height='10' x='10' y='0' /><rect fill='%23fff' width='10' height='10' x='0' y='10' /></svg>");
}
.headMenuTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    width: max-content;
}
#footer {
    background-color: red;
    width: 100%;
}
h1 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 19px;
    width: max-content;
    background-color: black;
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
}
/*.subHeadMenu {
    display: flex;
    justify-content: center;
    height: var(--subHeadMenu-height);
    align-items: center;
    background-color: black;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><rect fill='%23000' width='10' height='10' x='0' y='0' /><rect fill='%23000' width='10' height='10' x='10' y='10' /><rect fill='%23fff' width='10' height='10' x='10' y='0' /><rect fill='%23fff' width='10' height='10' x='0' y='10' /></svg>");
}*/
h2 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 13px;
    align-content: center;
    width: max-content;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.main-footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    height: calc(100% - 40px);
    width: 100%;
}
iframe {
    display: flex;
    background: #000;
    border: none;
    width: 100%;
    height:100%;
    /*
    --relativeHeight: calc(var(--headMenu-height) + var(--subHeadMenu-height));
    height: calc(100% - var(--relativeHeight));*/
}